

.CsvImporter.Setting
{
    h2
    {
        @apply font-bold;
    }
    dl
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        dt, dd
        {
            @apply border p-1;
        }

        dt:nth-child(4n-3) { grid-column: 1 / 2 }
        dd:nth-child(4n-2) { grid-column: 2 / 3 }
        dt:nth-child(4n-1) { grid-column: 3 / 4 }
        dd:nth-child(4n) { grid-column: 4 / 5 }
    }
}